{
  "presets": ["@babel/preset-env", "@babel/typescript", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": false,
        "minify": true,
        "pure": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
