{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "react/prop-types": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "modules": true,
          "jsx": true
        },
        "project": "./tsconfig.json",
        "plugins": [
          "@typescript-eslint", //
          "react",
          "prettier"
        ],
        "extends": [
          "eslint:recommended",
          "plugin:@typescript-eslint/eslint-recommended",
          "plugin:@typescript-eslint/recommended",
          "plugin:@typescript-eslint/recommended-requiring-type-checking",
          "plugin:react/recommended",
          "prettier",
          "plugin:prettier/recommended",
          "prettier/@typescript-eslint"
        ]
      }
    }
  ]
}
